@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

//border: 1px solid #000000;

@import "null-style.scss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    min-width: 1380px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 0px
  }
  ::-webkit-scrollbar-track {
    background-color: rgb(1, 1, 1, 0);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #B9B9B9;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #7e7e7e;
    border-radius: 10px;
  }
  ::-webkit-resizer {
    width: 8px;
    height: 0px;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }


  ::selection {
    background: #ffc0037c;
    color:#000000;
  }
  ::-moz-selection {
    background: #ffc0037c;
    color:#000000;
  }


.wrapper {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    width: 1380px;
    padding: 0 20px;
    margin: 0 auto;
    .upper-nav {
        height: 29px;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        span {
            display: inline-block;
        }
        .left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .location {
                margin-right: 38px;
                padding-left: 20px;

                cursor: pointer;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #7e7e7e;
                background: url("../img/location.svg") 0% 50%/auto no-repeat;
                &:hover {
                    background: url("../img/location-hover.svg") 0% 50%/auto no-repeat;
                }
            }
            .adress {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.02em;
                color: #7e7e7e;
            }
        }
        .right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                display: inline-block;
                margin-left: 38px;
            }
            .phone {
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                color: #393939;
            }
            .ask-for-call {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #7e7e7e;
                cursor: pointer;
                &:hover {
                    color: #595959;
                }
            }
            .login {
                height: 29px;
                padding: 5px 18px;

                border-radius: 16px;
                background-color: #FFC003;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                transition: 0.15s linear;
                cursor: pointer;
                color: #ffffff;
                &:hover {
                    background: #ffbf0096;
                }
            }
        }
    }
    .lower-nav {
        height: 40px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div,span{
            display: inline-block;
        }
        .logo {
            width: 45px;
            height: 40px;
            background: url("../img/logo.svg") 50%/40px no-repeat;
        }
        .company-name {
            width: 250px;
            height: 40px;
            background: url("../img/company-name.svg") 50%/250px 40px no-repeat;
        }
        .catalog-buttom {
            width: 130px;
            height: 40px;
            display: flex;

            border-radius: 23px;
            background: #FFC003;
            cursor: pointer;
            &:hover {
                background: #ffbf0096;
            }
            .catalog-buttom-text {
                position: relative;
                padding-left: 20px;
                margin: auto;

                font-weight: 500;
                font-size: 16px;
                line-height: 95%;
                color: #ffffff;
                &:before {
                    content:"";
                    width: 14px;
                    height: 13px;
                    position: absolute;
                    left: 0;
                    top: 0;

                    background: url("../img/burger.svg") 50%/14px 13px no-repeat;
                }
            }
        }
        .input {
            position: relative;
            &::after {
                content:"";
                cursor: pointer;
                height: 25px;
                width: 25px;
                position: absolute;
                right: 14px;
                top: 50%;
                transform: translateY(-50%);

                border-radius: 50%;
            }
            input {
                width: 500px;
                height: 40px;
                padding: 12px 24px;
                position: relative;
    
                border-radius: 23px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #393939;
                background: #ffffff url("../img/search.svg") 96% 50%/16px no-repeat;
                transition: 0.2s ease-in-out;
                caret-color: #7e7e7e;
                &::placeholder {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #7e7e7e;
                    transition: 0.2s ease-in-out;
                }
                &:focus {
                    box-shadow: 0 0 10px #3939392e;
                    &::placeholder {
                        color: #c1c1c1;
                    }
                }
            }
        }
        .nav-links {
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            line-height: 77.19%;
            color: #7e7e7e;
        }
        .liked {
            cursor: pointer;
            width: 20px;
            height: 19px;
            background: url("../img/like-list.svg") 50%/20px 19px no-repeat;
            transition: 0.2s ease-in-out;
            &:hover {
                transform: translateY(-2px);
            }
        }
        .cart-list {
            cursor: pointer;
            width: 23px;
            height: 21px;
            position: relative;

            background: url("../img/cart-list.svg") 50%/23px 21px no-repeat;
            transition: 0.2s ease-in-out;
            &::after {
                content: "3";
                display: inline-block;
                position: absolute;
                right: -7px;
                top: -11px;

                padding: 2px 6px;
                border: 1px solid #f2f2f2;
                border-radius: 10px;
                background: #ff5858;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #ffffff;
            }
            &:hover {
                transform: translateY(-2px);
            }
        }
        
    }
}

.main {
    width: 1380px;
    padding: 0 20px;
    margin: 0 auto;

    flex: 1 1 auto;

    .card-list-title {
        font-size: 40px;
        font-weight: 700;
        color: #393939;
        letter-spacing: 1px;
        margin-bottom: 24px;
    }
    .banner-block {
        width: 1340px;
        height: 360px;
        margin-bottom: 20px;
        position: relative;
        padding: 24px;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;

        background: #F0EEF3 url("../img/big-banner.png") 100% 50%/auto no-repeat;
        box-shadow: 0 13px 14px #39393931, 0 -1px 5px #7e7e7e2b;
        border-radius: 16px;
        .banner-title {
            width: 500px;
            margin: 20px 0 10px 110px;

            font-size: 85px;
            font-weight: 700;
            line-height: 90%;
            letter-spacing: 5px;
            color: #555555;
        }
        .banner-subtitle {
            margin: 0 0 0 110px;

            font-size: 24px;
            font-weight: 500;
            color: #555555;
        }
        .banner-button{
            display: flex;
            width: 290px;
            height: 45px;
            margin: 30px 0 0 110px;

            border: 2px solid #393939;
            border-radius: 25px;
            color: #393939;
            transition: 0.15s linear;
            .banner-button-text {
                display: inline-block;
                margin: auto;

                font-size: 20px;
                font-weight: 500;
                transition: 0.15s linear;
            }
            &:hover {
                background-color: #393939;
                border: 2px solid #393939;
                .banner-button-text {
                    color: #ffffff;
                }
            }
            &:visited {
                color: #393939;
            }
        }
        .left-banner-line {
            width: 70px;
            height: 70px;
            position: absolute;
            top: 40%;
            left: 20px;

            border-radius: 50%;
            background: #ffffffc8 url("../img/banner-line.svg") 50% no-repeat;
            cursor: pointer;
            transform: rotate(180deg);
            transition: all 0.15s ease-in-out;
            &:hover {
                position: absolute;
                top: 39%;
                left: 20px;
                box-shadow: 0 -5px 10px #39393928;
            }
        }
        .right-banner-line {
            width: 70px;
            height: 70px;
            position: absolute;
            top: 40%;
            right: 20px;

            border-radius: 50%;
            background: #ffffffc8 url("../img/banner-line.svg") 50% no-repeat;
            cursor: pointer;
            transition: all 0.15s ease-in-out;
            &:hover {
                position: absolute;
                top: 39%;
                right: 20px;
                box-shadow: 0 5px 10px #39393928;
            }
        }
    }
    .banner-block__slider-nav {
        height: 9px;
        margin-bottom: 30px;
        .banner-block__slider-nav-row {
            display: flex;
            width: 85px;
            height: 9px;
            margin: 0 auto;
            justify-content: space-between;
            flex-wrap: wrap;
            .banner-block__slider-nav-column {
                display: inline-block;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background: #D8D8D8;
                &:hover {
                    background: #a3a3a3;
                    cursor: pointer;
                }
            }
            .banner-nav-column-active {
                background: #FFC003;
                &:hover {
                    background: #FFC003;
                    cursor: auto;
                }
            }
        } 
    }
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.filters {
    width: 318px;
    position: sticky;
    top: 30px;

    .title{
        font-size: 20px;
        font-weight: 500;
        color: #393939;
    }
    .line {
        position: absolute;
        top: 24px;
        right: 24px;
    }
    .question-block {
        display: flex;
        height: 60px;

        cursor: pointer;
        border: 2px solid #27cfa7;
        border-radius: 16px;
        transition: 0.2s linear;
        &:hover {
            background-color: #27cfa81a;
        }
        .question-block__text {
            display: inline-block;
            margin:auto;
            padding-left: 10px;
            position: relative;
            
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 77.19%;
            letter-spacing: 0.02em;
            color: #27cfa7;
            &:before {
                content:"";
                display: inline-block;
                position: absolute;
                left: -14px;
                bottom: -1px;
                width: 18px;
                height: 18px;
                
                background: url("../img/question.svg") 50%/18px no-repeat;
            }
        }
    }
    .price-block{
        height: 140px;
        margin-top: 24px;
        padding: 20px;
        position: relative;

        border-radius: 16px;
        background: #ffffff url("../img/price-line.svg") 50% 45% no-repeat;
        .from {
            width: 32%;
            height: 30px;
            position: absolute;
            left: 20px;
            bottom: 20px;
            padding: 4px 28px 4px 32px;
            text-align: right;

            cursor: pointer;
            border: 2px solid #B9B9B9;
            color: #393939;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            line-height: 77.19%;
            background: url("../img/rubl.svg") 88% 50%/auto 12px no-repeat, url("../img/from.svg") 12% 56%/15px no-repeat;
            &::placeholder {
                color: #393939;
                font-weight: 500;
            }
            &:focus {
                &::placeholder {
                    color: #cacaca;
                }
            }
        }
        .to {
            width: 32%;
            height: 30px;
            position: absolute;
            right: 20px;
            bottom: 20px;
            padding: 4px 28px 4px 32px;
            text-align: right;

            cursor: pointer;
            border: 2px solid #B9B9B9;
            color: #393939;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            line-height: 77.19%;
            background: url("../img/rubl.svg") 88% 50%/auto 12px no-repeat, url("../img/to.svg") 12% 63%/16px no-repeat;
            &::placeholder {
                color: #393939;
                font-weight: 500;
            }
            &:focus {
                &::placeholder {
                    color: #cacaca;
                }
            }
        }
    }
    .volume-block {
        height: 240px;
        margin-top: 24px;
        position: relative;
        padding: 20px;

        border-radius: 16px;
        background: #ffffff;
        .volume-block__container {
            display: flex;
            justify-content: start;
            margin-top: 20px;
            .volume-block__column {
                flex-direction: column;
                width: 40%;
                margin-right: 10px;
                .volume-block__item {
                    margin-bottom: 13px;
                    span {
                        display: inline-block;

                        border: 2px solid #B9B9B9;
                        color: #393939;
                        height: 28px;
                        border-radius: 20px;
                        line-height: 115%;
                        padding: 4px 12px;
                        text-align: left;
                        font-size: 16px;
                        font-weight: 500;
                        &:hover {
                            cursor: pointer;
                            position: relative;
                            padding: 4px 13px;

                            color: #ffffff;
                            background: #FFC003;
                            border: none;
                            line-height: 140%;
                            transition: background-color 0.15s ease-in-out;
                            &:after {
                                content: "";
                                display: inline-block;
                                width: 24px;
                                height: 12px;
                                background: url("../img/cross.svg") 100% 50%/auto no-repeat;
                            }
                        }
                    }
                }   
            }
        }
    }
    .strength-block {
        height: 55px;
        margin-top: 24px;
        padding: 18px;
        position: relative;

        background: #ffffff;
        border-radius: 16px;
    }
    .brand-block {
        height: 55px;
        margin-top: 24px;
        padding: 18px;
        position: relative;

        background: #ffffff;
        border-radius: 16px;
    }
}

.card-list {
    max-width: 1000px;
    
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__column:nth-child(2) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page1-1.png") 50% 26px/82px auto no-repeat;
    }
    &__column:nth-child(3) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page1.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(4) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page14.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(5) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page2.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(6) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page5.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(7) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page8.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(8) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page11.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(9) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page3.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(10) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page6.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(11) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page9.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(12) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page12.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(13) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page4.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(14) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page7.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(15) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page10.png") 50% 26px/auto 240px no-repeat;
    }
    &__column:nth-child(16) .card {
        background: #ffffff url("../img/Jaws_EXP-2_page13.png") 50% 26px/auto 240px no-repeat;
    }

    &__column:nth-child(1) .card .description .price-sale {
        &::after {
            content: "-30%";
        }
    }
    &__column:nth-child(6) .card .description .price-sale {
        &::after {
            content: "-25%";
        }
    }
    &__column:nth-child(8) .card .description .price-sale {
        &::after {
            content: "-5%";
            right: -40px;
        }
    }
    &__column:nth-child(10) .card .description .price-sale {
        &::after {
            content: "-20%";
        }
    }

    .catalog-link {
        height: 45px;
        a {
            display: inline-block;
            margin: 20px 0 0 50%;
            transition: 0.15s ease-in-out;
            transform: translateX(-50%);
            &:hover {
                .catalog-link__text::after {
                    margin-left: 5px;
                }
                .catalog-link__text {
                    color:rgba(57, 57, 57, 0.799);
                }
            }
        }
        .catalog-link__text {
            position: relative;

            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #393939;
            &:after {
                content: "";
                position: absolute;
                top: 5%;
                left: 105%;
                display: inline-block;
                width: 24px;
                height: 24px;

                background: url("../img/line-right.svg") 100% 50%/23px no-repeat;
                transition: 0.15s ease-in-out;
            }
        }
    }
}

.card {
    position: relative;
    width: 232px;
    height: 420px;
    padding: 24px;
    margin: 0 0 24px 0;

    background: #ffffff url("../img/Jaws_EXP-2_page-1.png") 50% 26px/auto 240px no-repeat;
    border-radius: 16px;
    transition: 0.15s ease-in-out;
    &:hover {
        box-shadow: 0 5px 15px #3939392e;
        transform: translateY(-10px);
    }
    .upper-info {
        margin-bottom: 8px;
        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .upper-info__item {
                width: 22px;
                height: 20px;
                cursor: pointer;

                background: url("../img/like.svg") 50%/auto no-repeat;
                transition: 0.07s linear;
                &:hover {
                    background: url("../img/like-hover.svg") 50%/auto no-repeat;
                }
            }
            .upper-info__column {
                display: flex;
            }
            .star {
                display: inline-block;
                width: 20px;
                height: 18px;
                background: url("../img/star.svg") 50%/20px 18px no-repeat;
            }
            .rating {
                display: inline-block;
                margin: 0 0 0 8px;

                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                color: #7e7e7e;
            }
        }
    }
    .marker {
        display: inline-block;
        height: 22px;
        padding: 4px 12px;
        margin-right: 4px;
    
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #7e7e7e;
        border-radius: 21px;
        background-color: #eaeaea;
    }
    .new {
        position: absolute;
        right: -34px;
        top: -65px;
        margin-right: 0;
    
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;

        color: #F6F6F6;
        background-color: #27CFA7;
        letter-spacing: 1px;
    }
    .description {
        margin-top: 230px;
        overflow: hidden;
        .name {
            width: 200%;        
            margin: 6px 0;
            display: inline-block;
            
            cursor: pointer;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 110%;
            color: #393939;
        }
        .articul {
            margin-bottom: 12px;
    
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #7e7e7e;
        }
        .old-price {
            margin-bottom: 4px;

            font-weight: 700;
            font-size: 14px;
            font-family: "Miriam Libre";
            font-style: normal;
            letter-spacing: 0.02em;
            color: #B9B9B9;
            text-decoration: line-through;
        }
        .blank {
            color: rgba(1,1,1,0);
            text-decoration: none;
        }
        .price-sale {
            font-weight: 700;
            font-size: 24px;
            position: relative;
            display: inline-block;
            
            font-family: "Miriam Libre";
            font-style: normal;
            letter-spacing: 0.02em;
            color: #393939;
            &::after {                              //плашка со скидкой
                content: "-31%";
                display: inline-block;
                position: absolute;
                right: -45px;
                top: 10%;

                font-family: "Roboto";
                padding: 2px 6px;
                border-radius: 10px;
                background: #ff5858;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #ffffff;
            }
        }
        .price {
            font-weight: 700;
            font-size: 24px;
            position: relative;
            display: inline-block;
            
            font-family: "Miriam Libre";
            font-style: normal;
            letter-spacing: 0.02em;
            color: #393939;
        }
    }
    .cart {
        width: 45px;
        height: 45px;
        position: absolute;
        right: 24px;
        bottom: 24px;

        border-radius: 50%;
        background: url("../img/cart.svg") 50%/45px no-repeat;
        transition: 0.15s ease-in-out;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
    .shadow {
        width: 60px;
    
        position: absolute;
        right: 24px;
        bottom: 86px;
    }
}

footer {
    background: #393939;
    min-width: 1380px;
    padding: 0 0 16px 0;
    margin-top: 40px;
    a {
        font-weight: 400;
        font-size: 14px;
        line-height: 213%;
        color: #7e7e7e;
        &:visited {
            color: #7e7e7e;
        }
        &:hover {
            opacity: 80%;
        }
    }
    .line{
        width: 1340px;
        margin: 0 auto;
        height: 1px;
        border-top: 1px solid #555555;
    }
    .footer-content1 {
        width: 1380px;
        margin: 0 auto;
        padding: 50px 20px;

        &__row {
            display: flex;
            justify-content: space-between;
        }
    
        &__column {
            .footer-content1__item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: 100%;
                .item-1, .item-2 {
                    text-align: right;
                }
                .item-2 {
                    margin-top: 8px;
                }
                .footer-phone {
                    display: block;
                    margin-bottom: 12px;

                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    color: #ffffff;
                }
                .social {
                    margin-bottom: 4px;
                }
                .instagram {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin-left: 14px;
                    
                    background: url("../img/instagram.svg") 50%/30px no-repeat;
                }
                .vk {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin-left: 14px;

                    background: url("../img/vk.svg") 50%/30px no-repeat;
                }
                .fb {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin-left: 14px;

                    background: url("../img/fb.svg") 50%/30px no-repeat;
                }
                .user-agreement a:hover {
                    text-decoration: underline;
                    opacity: 100%;
                }
                .visa {
                    display: inline-block;
                    width: 30px;
                    height: 24px;

                    background: url("../img/visa.svg") 50%/30px 24px no-repeat;
                }
                .mastercard {
                    display: inline-block;
                    width: 31px;
                    height: 24px;
                    margin-left: 16px;

                    background: url("../img/mastercard.png") 50%/31px 24px no-repeat;
                }
            }
        }

        &__row2 {
            display: flex;
            justify-content: space-between;
            margin: 0 -75px;
        }
    
        &__column2 {
            padding: 0 75px;
            
            li:nth-child(1) {
                margin-bottom: 20px;

                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                color: #FFFFFF;
            }
        }
    }
    .footer-content2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1380px;
        padding: 0 20px;
        margin: 0 auto;
        height: 50px;
        div {
            display: inline-block;
        }
        .footer-logo {
            width: 111px;
            height: 15px;

            background: url("../img/footer-logo-111x15.svg") 50%/111px 15px no-repeat;
        }
        .footer-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .qa {
                width: 15px;
                height: 15px;

                background: url("../img/qa.svg") 50%/15px no-repeat;
            }
            .stat-link {
                margin-left: 16px;

                font-size: 14px;
                &:hover {
                    text-decoration: underline;
                    color: #979797;
                }
            }
            .vertical-line {
                width: 1px;
                height: 20px;
                margin: 0 16px;

                border-left: 1px solid #7e7e7e;
            }
            .year {
                font-size: 14px;
                color: #7e7e7e;
            }
            .trademark {
                color: #ffffff;
                margin: 0 0 0 16px;
            }
        }
    }
}